* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(/src/img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
 /*Nav*/
nav{
    animation: bg-pan-left 8s infinite both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px ridge #245FA4;
}

nav a {
    text-decoration: none;
}


ul {
    list-style: none;
}

nav > div.menu > ul{
    flex-direction: row;
    display: flex;
}

nav > div.menu > ul > li{
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
 }



nav a:hover{
    background: #245FA4;
    transition: 0.3s;
    border-radius: 3px;
    color: rgb(174, 252, 255);
}


/*news*/

.news {
    padding: 5rem;
    
}

.news > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsontop{
    text-decoration: none;
    color: rgb(226, 251, 255);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1px;
    border-radius: 5px;
}

.firstnews {
    text-align: center;
    height: 10rem;
    width: 15rem;
    border: 4px solid rgb(0, 0, 0);
}

.secondnews {
    text-align: center;
    height: 5rem;
    width: 15rem;
    border: 2px solid rgb(0, 0, 0);
}

.thirdnews {
    text-align: center;
    height: 5rem;
    width: 15rem;
    border: 2px solid rgb(31, 31, 31);
}

.errorMessage {
    text-align: center;
    color: rgb(216, 178, 252);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);
}

/*article et list categorie*/

.corp {
    display: flex;
}

.allart{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.art {
    margin: 2em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art > div {
    color: aliceblue;
    text-align: center;
}

.art > div > a{
    text-decoration: none;
    color: rgb(156, 237, 252);
    text-align: center;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);
}

.art > div > a:hover{
    color: #245FA4;
    transition: 0.3s;
}

.imgArticle {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: solid #245FA4;
    object-fit: cover;
}


.listecategorie > a {
    text-decoration: none;
    display: flex;
    width: 80%;
    margin: 1em;
    padding: 10px;
    color: rgb(233, 255, 133);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);
}

.listecategorie > a:hover{
    background: plum;
    border-radius: 1em;
    transition: 0.3s;
    
}

/*tampon*/
.tampon{
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonTampon {
    text-decoration: none;
    color: rgb(38, 92, 102);
    padding: 13px;
    background: rgb(142, 219, 233);
    border-radius: 1em;
}

.buttonTampon:hover {
    color: rgb(142, 219, 233);
    background: rgb(38, 92, 102);
    transition: 0.3s;
}

/*footer*/

footer{
    text-align: center;
    padding: 1rem;
    animation: bg-pan-left 8s infinite both;
    border-top: 4px ridge #245FA4;
}

footer > p{
    color: black;
}

@keyframes bg-pan-left {
    0% {
        background-color: rgb(142, 219, 233);
        background-position: 100% 50%;
    }
    50% {
        background-color: #245FA4;
        background-position: 0% 50%;
    }
    100%{
        background-color: rgb(142, 219, 233);
        background-position: 100% 50%;
    }
}